.taskCard {

    border: 1px solid black;
    margin: 4px auto;

}



.form {
    display: flex;
    flex-direction: column;
    gap: 1px;
    flex-wrap: wrap;
    background-color: #c3a7ad;
    margin: 100px auto;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;

}

.form input {
    float: right;
}

.form button {
    width: 100px;
    margin: 2px auto;

}